<%- include('partials/header') -%>

<section id="landing-section">
  <div class="landing-background">
    <div class="steam-animation"></div>
    <div class="container-lg landing-container">
      <img class="landing-title" src="assets/images/logo-white.svg" alt="" />
    </div>
  </div>
</section>
<section id="info-section">
  <div class="info-background">
    <div class="container-lg info-container">
      <div class="info-hook-container">
        <img
          class="bean-leaves-2"
          src="assets/images/bean-leaves-2.png"
          alt=""
        />
        <img
          class="bean-leaves-1"
          src="assets/images/bean-leaves-1.png"
          alt=""
        />
        <div class="info-hook-box">
          <h1 class="info-hook">Locally sourced, high quality ingredients.</h1>
        </div>
      </div>
      <div class="info-content-container-outer">
        <div class="info-content-container-inner">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  class="slide-img slide-img-inactive"
                  src="assets/images/black-coffee.png"
                  alt=""
                />
                <div class="slider-info-box">
                  <div class="slider-info-box-inner slider-info-box-inactive">
                    <h1 class="slider-info-box-title">Black Coffee</h1>
                    <p class="slider-info-box-text">Simple perfection</p>
                    <button class="btn btn-primary">Learn more</button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <img
                  class="slide-img slide-img-inactive"
                  src="assets/images/latte.png"
                  alt=""
                />
                <div class="slider-info-box">
                  <div class="slider-info-box-inner slider-info-box-inactive">
                    <h1 class="slider-info-box-title">Cafe Latte</h1>
                    <p class="slider-info-box-text">Silky smooth</p>
                    <button class="btn btn-primary">Learn more</button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <img
                  class="slide-img slide-img-inactive"
                  src="assets/images/milk-tea.png"
                  alt=""
                />
                <div class="slider-info-box">
                  <div class="slider-info-box-inner slider-info-box-inactive">
                    <h1 class="slider-info-box-title">Milk Tea</h1>
                    <p class="slider-info-box-text">Something different</p>
                    <button class="btn btn-primary">Learn more</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          <h1 class="title-alt">Start Your Day Right</h1>
          <div class="brand-slogan">
            <h2 class="brand-slogan-text">All You Need Is</h2>
            <img class="brand-logo" src="assets/images/logo-white.svg" alt="" />
          </div>
          <div class="info-cards-container row g-5">
            <div class="col-lg-4 col-md-6">
              <div class="info-card info-card-1">
                <div class="info-card-mask info-card-mask-inactive">
                  <div class="info-card-text">8 Signature Blends</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="info-card info-card-2">
                <div class="info-card-mask info-card-mask-inactive">
                  <div class="info-card-text">Made With Care</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="info-card info-card-3">
                <div class="info-card-mask info-card-mask-inactive">
                  <div class="info-card-text">Cozy Atmosphere</div>
                </div>
              </div>
            </div>
          </div>
          <div class="info-end">
            <p class="info-end-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quas
              porro esse sint quisquam quae corrupti ducimus. Excepturi ipsam
              eaque accusamus at laborum, alias, assumenda aperiam eveniet amet
              quae placeat!
            </p>
            <div class="info-end-buttons">
                <button class="btn btn-primary">Explore</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>
