<%- include('partials/header') -%> 

<section id="landing-section">
    <div class="landing-background">
        <div class="steam-animation">
        </div>
        <div class="container-lg landing-container">
                <img class="landing-title" src="assets/images/logo-white.svg" alt="">
        </div>
    </div>
</section>
<section id="hook-section">
    <div class="hook-background">
        <div class="container-lg hook-container-outer">
            <div class="hook-container-inner col-12">
                <img class="bean-leaves-2" src="assets/images/bean-leaves-2.png" alt="">
                <img class="bean-leaves-1" src="assets/images/bean-leaves-1.png" alt="">
                <div class="hook-box">
                    <h1 class="hook">Locally sourced, high quality ingredients.</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') -%> 
