/* general */

h1 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 64px;
    }
}

/* navbar */

.navbar-bg {
    background-color: rgba(162, 146, 121, 0.5);
}

.logo-nav {
    height: 30px;
    filter: #46332A;
}

.collapsing{
    transition: 0.5s ease-in-out!important;
}

/* landing section */

.landing-background {
    background-image: url("../assets/images/landing-splash-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 45% right 50%;
    height: 100vh;
    width: 100%;
}

.landing-title{
    text-align: center;
    max-width: 80vw;
    animation: title-animation 2s ease-in;
}

@keyframes title-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.landing-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steam-animation {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 80%;
    animation: steam 5s infinite;
    opacity: 0.4;
}

@keyframes steam {

    0% {
        background-image: url("../assets/images/steam1.svg");
    }
    50% {
        background-image: url("../assets/images/steam2.svg");
    }
    100% {
        background-image: url("../assets/images/steam1.svg");
    }
}

/* info section */

#hook-section {
    overflow-x: hidden;
}

.hook-background {
    background: url("../assets/images/bg-droplets-1.png"), #FAF0E9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-blend-mode: screen;
}

.hook-container-inner {
    padding-top: 12rem;
    position: relative;
}

.bean-leaves-2 {
    position: absolute;
    top: 3rem;
    left: -4rem;
}

.bean-leaves-1 {
    position: absolute;
    bottom: -11rem;
    right: -8rem;
    overflow: hidden;
}


.hook-box{
    border: 5px solid #8D3623;
    border-radius: 36px;
    padding: 1rem 2rem;
    margin: 0 2rem;
}

.hook {
    text-align: center;
    color: #8D3623;
}